version: "3.7"

services:

  app:
    build: .
    ports:
      - "3000:3000"
    restart: on-failure
    command: ["bin/rails", "server", "--port", "3000", "--binding", "0.0.0.0", "--pid", "/tmp/puma.pid"]
    volumes:
      - .:/app:delegated
    environment:
      WEBPACKER_DEV_SERVER_HOST: webpack_dev_server

  webpack_dev_server:
    build: .
    # The symbolic link is a nasty hack made necessary because webpacker < 4.0
    # hardcodes the location of the Node binaries directory.
    command: sh -c "ln -sf /node_modules /app/node_modules && ./bin/webpack-dev-server"
    ports:
      - 3035:3035
    volumes:
      - .:/app:delegated
    environment:
      WEBPACKER_DEV_SERVER_HOST: "0.0.0.0"
