development: &dev
  adapter: mysql2
  port: <%= ENV.fetch("MYSQL_PORT_3306_TCP_PORT", 3306) %>
  database: <%= ENV.fetch("MYSQL_DATABASE", "sandbox_development") %>
  username: <%= ENV.fetch("MYSQL_USER", "root") %>
  password: <%= ENV.fetch("MYSQL_PASSWORD", "rootpw") %>
  host: db

test:
  <<: *dev
  database: <%= ENV.fetch("MYSQL_DATABASE", "sandbox_development") %>

production:
  <<: *dev
  database: <%= ENV.fetch("MYSQL_DATABASE", "sandbox_production") %>
